<div>
<form action="/users" method="post">
{{!-- input:text --}}
<h2>Insert your data</h2>
    <label for="firstname">firstname</label>
        <input type="text" name="firstname" id="firstname"><br>
    <label>lastname</label>
        <input type="lastname" name="lastname" id="lastname"><br>
    <label>email</label>
        <input type="email" name="email" id="email"><br>
    <input type="submit" value="SAVE">
</form>
</div>